<div class="mxtp-main">
        <h1 class="landing-title">MXTP</h1>

        <div class="mxtp-section">
                <div class="engage-section">
                        <h2 class="engage-title">Create a new playlist</h2>
                        <%= button_to "New", new_playlist_path, method: "get" %>
                </div>
        </div>

</div>

<button type="button" class="btn btn-lg btn-primary">Primary</button>
